<%= form_for(@climb_level) do |f| %>
  <% if @climb_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@climb_level.errors.count, "error") %> prohibited this climb_level from being saved:</h2>

      <ul>
      <% @climb_level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :height %><br />
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :match_id %><br />
    <%= f.number_field :match_id %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br />
    <%= f.number_field :team_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
