<p id="notice"><%= notice %></p>

<p>
  <b>Height:</b>
  <%= @climb_level.height %>
</p>

<p>
  <b>Match:</b>
  <%= @climb_level.match_id %>
</p>

<p>
  <b>Team:</b>
  <%= @climb_level.team_id %>
</p>


<%= link_to 'Edit', edit_climb_level_path(@climb_level) %> |
<%= link_to 'Back', climb_levels_path %>
