<h1>Listing teleop_scores</h1>

<table>
  <tr>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Pyramid</th>
    <th>Match</th>
    <th>Alliance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teleop_scores.each do |teleop_score| %>
  <tr>
    <td><%= teleop_score.high %></td>
    <td><%= teleop_score.medium %></td>
    <td><%= teleop_score.low %></td>
    <td><%= teleop_score.pyramid %></td>
    <td><%= teleop_score.match_id %></td>
    <td><%= teleop_score.alliance_id %></td>
    <td><%= link_to 'Show', teleop_score %></td>
    <td><%= link_to 'Edit', edit_teleop_score_path(teleop_score) %></td>
    <td><%= link_to 'Destroy', teleop_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teleop score', new_teleop_score_path %>
