<h1>Listing matches</h1>

<table>
  <tr>
    <th>Red alliance</th>
    <th>Blue alliance</th>
    <th>Notes</th>
    <th></th>
    <th></th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= match.red_alliance_id %></td>
    <td><%= match.blue_alliance_id %></td>
    <td><%= match.notes %></td>
    <td><%= link_to 'Show', match %></td>
    <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Match', new_match_path %>
