<p id="notice"><%= notice %></p>

<p>
  <b>Red alliance:</b>
  <%= @match.red_alliance_id %>
</p>

<p>
  <b>Blue alliance:</b>
  <%= @match.blue_alliance_id %>
</p>

<p>
  <b>Notes:</b>
  <%= @match.notes %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
