<p id="notice"><%= notice %></p>

<p>
  <b>Red alliance:</b>
  <% @red_team.each do |team| %>
  <%= "#{team.name}\t #{team.number}\n"
  <% end %>
</p>

<p>
  <b>Blue alliance:</b>
  <%= #@blue_alliance.join(", ") %>
</p>

<p>
  <b>Notes:</b>
  <%= @match.notes %>
</p>



<%= link_to 'Back', matches_path %>
