<h1>Listing auton_scores</h1>

<table>
  <tr>
    <th>High</th>
    <th>Medium</th>
    <th>Low</th>
    <th>Pyramid</th>
    <th>Match</th>
    <th>Alliance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @auton_scores.each do |auton_score| %>
  <tr>
    <td><%= auton_score.high %></td>
    <td><%= auton_score.medium %></td>
    <td><%= auton_score.low %></td>
    <td><%= auton_score.pyramid %></td>
    <td><%= auton_score.match_id %></td>
    <td><%= auton_score.alliance_id %></td>
    <td><%= link_to 'Show', auton_score %></td>
    <td><%= link_to 'Edit', edit_auton_score_path(auton_score) %></td>
    <td><%= link_to 'Destroy', auton_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Auton score', new_auton_score_path %>
