<%= form_for(@alliance) do |f| %>
  <% if @alliance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alliance.errors.count, "error") %> prohibited this alliance from being saved:</h2>

      <ul>
      <% @alliance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team1_id %><br />
    <%= f.number_field :team1_id %>
  </div>
  <div class="field">
    <%= f.label :team2_id %><br />
    <%= f.number_field :team2_id %>
  </div>
  <div class="field">
    <%= f.label :team3_id %><br />
    <%= f.number_field :team3_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
